.container {
  color: #eee;
}
.jobtitle {
  color: #686868;
  background-color: #eeeeee;
}
i {
  font-size: 30px;
  height: 10px;
}
.jumbo-color {
  background-color: #eee;
}
.ebbwButton {
  display: inline-block;
  margin: auto;
}
.footer-copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  background-color: black;
  font-size: 20px;
  border-top: 3px solid #eee;
}

/* Responsive Queries */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .name {
    font-size: 60px;
  }
  
  .social {
    margin: 10px 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  .name {
    font-size: 60px;
  }
  .social {
    margin: 10px 5px;
  }
  .avatar {
    margin: auto;
  }
  .ebbwButton {
    margin-top: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .name {
    font-size: 60px;
  }
  .social {
    margin: 10px 5px;
  }
  .avatar {
    margin: auto;
  }
  .ebbwButton {
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .name {
    font-size: 60px;
  }
  .social {
    margin: 10px 5px;
  }
  .ebbwButton {
    margin-top: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .name {
    font-size: 60px;
  }
  .social {
    margin: 10px 5px;
  }
  .ebbwButton {
    margin-top: 10px;
  }
}
